.songTitle {
    border-bottom: 5px #2f2f2f;
    border-bottom-style: double;

    margin: 0.5%;
    padding: 0.5%;
    color: #2f2f2f!important;
}

.ogTitle {
    border-bottom: 1px #2f2f2f;
    border-bottom-style: dashed;

    margin: 0.5%;
    padding: 0.5%;
    color: #2f2f2f!important;
}

.videoInfo {
    margin: 0.5%;
    padding: 0.5%;
    color: #2f2f2f!important;
}

.ytVideo {
    width: 45%;
    margin: 0.5%;
    padding: 0.5%;
}

.imgRight {
    float: right;
    width: 45%;
    margin: 0.5%;
    padding: 0.5%;
}

.titleSong {
    margin-top: -12.5%;
}